body {
    font-family: "Impact",sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

p {

}


h1 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#navigation {
    padding:0%;
    z-index: 100;
    position: fixed;
    top:0%;
    width:100%;
    left:0%;
    background-image: url("DG_images/backgrounds/navigation.png");
    background-size: 125%;

}

#navigation a{
    float:left;
    padding: 20px 0% 15px 0%;
    width:14.28%;
    height: 30px;
    font-size: 0.9em;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 10px #EFEFEF solid;
    
    
}

#navigation a:hover {
    border-bottom: 10px #CCCCCC solid;
}

#darkblue{
    background-color: #5291ff;
}
#purple{
    background-color: #b159ac;
}
#red{
    background-color: #F15627;
}
#orange{
    background-color: #F68A36;
}
#yellow{
    background-color: #ffbf00;
}
#green{
    background-color: #8BC860;
}
#lightblue{
    background-color: #00A1E1;
}

a {
    color: #EFEFEF;
}




